header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

header .logo {
    height: 40px;
}

header .button {
    padding: 10px 20px;
    background-color: #91AA00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header .button:hover {
    background-color: #728600;
}

a {
    text-decoration: none;
}
body {
    font-family: 'Arial', sans-serif;
}
.green-box {
    border: 2px solid #91AA00;
    padding: 10px;
    margin: 5px 0;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    width: 25%;
}
th {
    background-color: #91AA00;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #91AA00;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #dee2e6;
}

.green-background {
    color: white;
}

.center-text {
    text-align: center;
}

.green-box h4:first-of-type {
    margin-top: 5px;
    font-size: 1em;
}

.dashed-box {
    border: 2px dashed #91AA00;
    border-radius: 20px;
    padding: 30px;
    margin: 20px 0;
    text-align: center;
}

.dashed-box:hover{
    background-color: #dee2e6;
}

.submit-button {
    padding: 10px 20px;
    background-color: #91AA00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #728600;
}

.submit-button-container {
    text-align: center;
    margin-top: 10px;
}

.dashed-box.drag-over {
    border-color: #00f;
    background-color: #f0f8ff;
}

.dashed-box.drag-over {
    border-color: #00f;
    background-color: #f0f8ff;
}

.dashed-box div {
    padding: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
    background-color: #f9f9f9;
}

.annon-button-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.annon-button {
    padding: 10px 20px;
    background-color: #91AA00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.annon-button:hover {
    background-color: #728600;
}

.annon-button.active {
    background-color: red;
}

.annon-button.active:hover {
    background-color: darkred;
}



.openLeaderBoard {
    max-height: 35px;
    padding: 10px 20px;
    background-color: #91AA00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.openLeaderBoard i{
    font-size: 28px;
    margin-bottom: 10px;
}

.LeaderBoard-Popup{
    bottom: 16px;
    right: 16px;
    position: fixed;
    z-index: 9;
    width: 320px;
    display: none;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    max-width: 400px;
    background: rgb(255, 255, 255);
    border-radius: 10px 10px 6px 6px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.LeaderBoard-head{
    display: flex;
    justify-content: space-between;
    background: #91AA00;
    padding: 16px 14px;
    border-radius: 10px 10px 0px 0px    ;
}

.LeaderBoard-head i{
    font-size: 24px;
    margin-right: 10px;   
}

.LeaderBoard-head h4{
    color: rgb(0, 0, 0);
    font-weight: 500;
}



.Board-container{
    padding: 12px 10px;
    height: 250px;
    margin: 10px 0;
}

.boad{
    padding: 10px 16px;
    border-radius: 50px;
    width: 80%;
    display: flex;
    flex-direction: column;
}