body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #f8f9fa;
    padding: 10px 20px;
    text-align: left;
}

header img {
    height: 50px;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-box {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box select,
.login-box input,
.login-box button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-box .remember-forgot-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.login-box .remember-me {
    display: flex;
    align-items: center;
}

.login-box .remember-me input {
    margin-right: 10px;
}

.login-box .forgot-password {
    font-size: 14px;
}

.login-box .forgot-password a {
    color: #007bff;
    text-decoration: none;
}

.login-box .forgot-password a:hover {
    text-decoration: underline;
}

.login-box button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #f8f9fa;
    padding: 10px 20px;
    text-align: center;
}