<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Assignment System</title>
</head>

<body>
  <div id="root">
      <p>
        Assignments
      </p>
  </div>
</body>

</html>