<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles/login.css">
    <script src="scripts/login.js"></script>
</head>
<body>
    <header>
        <img src="https://assignments.hci.uni-hannover.de/static/images/hci.png" alt="Uni Logo">
    </header>

    <main>
        <div class="login-box">
            <select>
                <option value="student">Student</option>
                <option value="tutor">Tutor</option>
                <option value="admin">Admin</option>
            </select>

            <select class="module-select">
                <option value="mci">Mensch Computer Interaktion</option>
                <option value="prog1">Programmieren I</option>
            </select>

            <input type="text" placeholder="Name" class="login-input">
            <input type="password" placeholder="Passwort" class="login-input">
            <input type="hidden" id="referrer" name="referrer">
            <button class="login-button" onclick="redirectUser()">Login</button>
            
            <div class="remember-forgot-container">
                <div class="remember-me">
                    <input type="checkbox" id="rememberMe">
                    <label for="rememberMe">Remember me</label>
                </div>
                
                <div class="forgot-password">
                    <a href="/login">Forgot password?</a>
                </div>
            </div>
        </div>
    </main>

    <footer>
        Asimov Squad
    </footer>
    <script>
        function redirectUser() {
            const role = document.querySelector('.login-box select').value;
            const referrerInput = document.getElementById('referrer');
            if (role === 'student') {
                referrerInput.value = '/overview';
                window.location.href = '/overview';
            } else if (role === 'tutor') {
                referrerInput.value = '/overviewtutor';
                window.location.href = '/overviewtutor';
            }
        }
    </script>
</body>
</html>